<%- include("header") %>
<style>
	h1{
		color : black;
		font-size : 200 %;
		opacity : 1.5 ;
		text-shadow : 2px 2px white;
	}
	
</style>
<div class="container">
	<h1 style="text-align:center">
		About <strong>WEBSITE</strong>...
	</h1>
	<div class="ab">
		<p>
			<strong>YELPCAMP</strong> is a website which is based on the <strong>CAMPGROUNDS</strong>. Here 			user can create their own campgrounds, view and comment on others' campgrounds. It helps the user to 			find their perfect place for the <strong>CAMPING</strong> by visualizing them to different locations of the 			campgrounds.<br>
		   This is a small project of Colt Steele's Web Developer Bootcamp course in Udemy. It is built on various 		   	<strong>TECHNOLOGIES :</strong><ul>
			<li>Bootstrap</li>
			<li>Node.js</li>
			<li>Express.js</li>
			<li>Passport.js</li>
			<li>MongoDB</li>
			</ul>
		</p>
	</div>
</div>

<%- include("footer") %>