.thumbnail img {
	object-fit : cover ;
    width: 100%;
	height : 100% ;	
}
.lead {
	font-size : 3em;
	color :	#006400;
	text-shadow : 3px 3px 	#FFFFE0;
}
.thumbnail {
	padding:0;
	border : 0.1px solid #ebcf34;} 			
		
			#thumbnail:hover{
				text-decoration : none ;
				border : 4px solid 	#D2691E ;
				background : 	#D2691E ;
			}
.thumbnail .caption-full {
	padding : 9px ;
}
	#link:hover {
				color : red !important;
			}
a:hover {
	color : #ebcf34 !important ;			
}	
#a {
	background : black ;
	border : 1px solid black;
}			
a {
	color: white !important;
}

body {
	background : 	#ebcf34 ;
}
			.jumbotron {
				background : black;
				color : white
			}			
			#header {
		color : #ff0000;
		text-shadow : 2px 2px black;
	}
#we {
		padding-left : 8% ;
		padding-top : 4% ;
		padding-bottom : 2% ;
	}
	.list{
		background :	#A52A2A!important;
		color : white ;
		border-radius : 5% ;
	}
.ab {
		background : white ;
		padding : 10px ;
		line-height : 30px;
		font-size : 140% ;
		border-radius : 10% ;
		word-spacing : 4px;
		font-family: 'PT Sans Narrow', sans-serif;
	}